<!DOCTYPE>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <section class="container">
        <header>
            <h1><a href="/">{{ title }}</a></h1>
            {% block main_actions %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
    </section>
    <a href="/login" id="login-badge">login</a>
</body>
</html>
