.books {
    margin-top: 64px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17ch,1fr));
    grid-column-gap: 32px;
    padding: 0;
}

.cover {
    width: 100%;
}

.highlighted-book span,
.regular-book span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-right: 3px;
    position: relative;
    top: -1.5px;
}

.highlighted-book span {
    background-color: #007CBE;
}

.regular-book span {
    background-color: #00AF54;
}
