body {
    background-color: #f6f6f1;
    font: 14px 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: auto;
    margin-top: 64px!important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
        margin: 0;
    }
}

a {
    color: black;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
