body {
    background-color: #f6f6f1;
    padding: 3rem;
    font: 14px 'Libre Baskerville', serif;;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
        margin: 0;
    }
}

a {
    color: black;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
